
header {
	background: url(images/banner_grad.png) repeat-x;
}

.header-bg {
	background: url(images/banner3.png) repeat-x center bottom;
	height: 200px;
	text-align: center;
}

.content-bg {
	width: 80%;
	margin: auto;
}

.content-whire {
	background: grey;
	margin: 0 11px;
	padding: 2px 4px;
	text-align: justify;
}

table {
    background: none; /* Цвет фона таблицы */
    color: none; /* Цвет текста */
    width: 100%;
   }

th {
	text-align: center;
}

.cycle-tr1 {
	background: #fff8dc;
}

.cycle-tr1:hover{
	background: #339933;
}


.cycle-tr2 {
	background: #fff555;
}

.cycle-tr2:hover{
	background: #339933;
}

aside {
	background: orange;
	padding: 2%;
	width: 20%;
	float: right;
}

a:link {
	padding: 2px;
}
