{% extends 'myfly/index.html' %}
{% block content %}
    {% if route %}
        <table cellspasing="2">
            <tr>
                <th>Название</th>
                <th>Номер</th>
                <th>Самолёт</th>
                <th>Время вылета</th>
            </tr>
            <tr class='cycle-tr1'>
                <td>{{ route.name }}</td>
                <td>{{ route.number }}</td>
                <td>{{ route.plane }}</td>
                <td>{{ route.time|date:'d M - G:i' }}</td>

            </tr>
        </table>
        <table cellspasing="2">
            <tr>
                <th>Вылет из</th>
                <th>Прилёт в</th>
            </tr>
            <tr class='cycle-tr1'>
                <td>{{ route.airport_out }}</td>
                <td>{{ route.airport_in }}</td>
            </tr>
        </table>
        <table cellspasing="2">
            <tr  class='cycle-tr2'>
                <td><a href="{% url 'myfly:table'%}">Назад</a></td>
            </tr>

        </table>


    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}


