{% extends 'myfly/index.html' %}
{% block content %}
	{% if routes %}
		<table cellspasing="2">
			    <tr>
			    	<th>Название</th>
			    	<th>Номер</th>
			    	<th>Самолёт</th>
			    	<th>Время вылета</th>
			    	<th>Вылет из</th>
			    	<th>Прилёт в</th>
			    </tr>
		{% for route in routes %}
			<tr>
			    <td class="td-1"><a href=" ">{{ route.name }}</a></td>
		    	<td class="td-1"><a>{{ route.number }}</a></td>
		    	<td class="td-1"><a>{{ route.plane }}</a></td>
		    	<td class="td-1"><a>{{ route.time|date:'d M - G:i' }}</a></td>
		    	<td class="td-1"><a>{{ route.airport_out }}</a></td>
		    	<td class="td-1"><a>{{ route.airport_in }}</a></td>
		    </tr>
		{% endfor %}
		</table>
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}
{% endblock %}