{% extends 'myfly/index.html' %}
{% block content %}
	{% if routes %}
		<table cellspasing="2">
			    <tr>
			    	<th>Название</th>
			    	<th>Номер</th>
			    	<th>Самолёт</th>
			    	<th>Время вылета</th>
			    	<th>Вылет из</th>
			    	<th>Прилёт в</th>
			    </tr>
		{% for route in routes %}
			<tr class= {% cycle 'cycle-tr1' 'cycle-tr2' %} tr-hover>
				<td><a href="#">{{ route.name }}</a></td>
		    	<td>{{ route.number }}</td>
		    	<td>{{ route.plane }}</td>
		    	<td>{{ route.time|date:'d M - G:i' }}</td>
		    	<td>{{ route.airport_out }}</td>
		    	<td>{{ route.airport_in }}</td>
		    </tr>
		{% endfor %}
		</table>
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}
{% endblock %}